body{
    background: url("../images/image.jpg") no-repeat center center fixed;
    background-size:cover;
    min-height:100vh;

    .title{
        text-align: center;
        color:white;
        background-color:red;
        width:200px;
        margin:20px auto;
        border-radius:5%;
        font-family: monospace;
        
    }

    #block{
        background-color:white;
        color:black;
        width:400px;
        margin: auto;
        padding:30px;
        border-radius: 5%;
        box-shadow: -10px 10px 5px black ;

        h1,ol{
            margin: 10px auto;
        }

        
    
        button{
            margin:5px;
            width:200px;
        }
    }
    
}